body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', serif;
}
input {
    font-size: 14px;
    font-family: inherit;
    border: none;
    border-bottom: solid 2px #aaa;
}
input:focus {
    outline: 0;
    border-bottom-color: #333;
    transition: border-bottom-color 0.5s;
}
input.small {
    width: 40px;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: solid 1px #aaa;
    padding: 3px;
    height: 20px;
}

.banner {
    font-family: sans-serif;
    position: absolute;
    top: 60px;
    right: -80px;
    padding: 10px;
    color: wh\ite;
    background: #175f7e;
    width: 300px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}
